name: CloudFlare

on:
  workflow_dispatch:

jobs:
  run-secret-santa:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run SecretSanta.ps1
        shell: pwsh
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_IDS:  ${{ secrets.TELEGRAM_CHAT_IDS }}
        run: ./SecretSanta.ps1
