name: Secret Santa

on:
  workflow_dispatch:      # ti permette di avviarlo manualmente da GitHub
  # oppure automatizzato (esempio: 10 dicembre ore 18 UTC)
  # schedule:
  #   - cron: "0 18 10 12 *"

jobs:
  run-secret-santa:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run SecretSanta.ps1
        shell: pwsh
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_IDS:    ${{ secrets.TELEGRAM_CHAT_IDS }}
        run: |
          ./SecretSanta.ps1
